name: Shell Unit Tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  shell-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          # Install bats and shellcheck from package manager
          sudo apt-get install -y bats shellcheck

      - name: Install ShellSpec
        run: |
          curl -fsSL https://git.io/shellspec | sh -s -- --yes
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Lint shell scripts
        run: shellcheck .github/**/*.sh lib/*.sh || true  # Do not fail build initially

      - name: Run bats tests
        run: bats tests/package-lambda

      - name: Run ShellSpec tests
        run: shellspec --format documentation
